{% extends "base.html" %}
{% load static %}

{% block title %}
  Create task in queue
{% endblock %}

{% block content %}
<div >

    <h1>Welcome to Django Cloud Tasks GCP demo.</h1><br><br><hr>

    <p>In this demo, we use django to create tasks in gcp Cloud Tasks.
      Next Cloud Tasks execute the task calling handler_animal view 
      in the django application app_queue. 
    </p>
    <br>
    <hr><br><br>


    <a href="/">Go Home </a> <br>
    <a href="/create_task">Create Task </a> <br>
    <a href="/">My Task list</a> <br>
    <a href="/">get tasks from Queue</a> <br>
    


</div>
{% endblock %}